## 以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答下列問題：
1. 以「完全排除遺漏值」的設定，做教育程度（a8）、個人收入（b1）兩個變數的相關分析
2. 以「數列平均數」置換個人收入的遺漏值，並以此置換後的新變數做與教育程度的相關分析
3. 計算受訪者的環境行為（c1）總分
    * 運用「選擇觀察值」功能，分別報告男性和女性環境行為的平均數

In [1]:
from load import load_sav

df = load_sav("../data/brilliant_working.sav")

In [2]:
df

,id,edition,a1,a2_1,a2_2,a3,a3_des,a4,a4_des,a5,...,social_3,social_4,social_5,social_6,sociability,trust_1,trust_2,trust_3,trust_4,Env_act
0,11372211.0,2.0,2.0,77.0,7.0,1.0,999,1.0,999,8.0,...,3.0,3.0,3.0,3.0,17.0,3.0,4.0,2.0,2.0,2.8
1,11372212.0,2.0,1.0,76.0,9.0,1.0,999,1.0,999,5.0,...,4.0,2.0,2.0,3.0,16.0,3.0,3.0,2.0,2.0,2.8
2,11372213.0,2.0,2.0,74.0,2.0,1.0,999,1.0,999,5.0,...,3.0,2.0,2.0,3.0,16.0,3.0,3.0,1.0,2.0,2.6
3,11372509.0,1.0,1.0,83.0,10.0,1.0,999,3.0,999,5.0,...,4.0,4.0,3.0,3.0,19.0,2.0,3.0,1.0,1.0,3.0
4,11372517.0,1.0,2.0,48.0,9.0,2.0,999,1.0,999,4.0,...,3.0,2.0,3.0,3.0,16.0,3.0,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,23401723.0,2.0,2.0,49.0,1.0,1.0,999,1.0,999,3.0,...,2.0,2.0,2.0,2.0,13.0,1.0,4.0,1.0,1.0,3.0
864,23401724.0,2.0,2.0,69.0,10.0,1.0,999,1.0,999,4.0,...,3.0,4.0,3.0,2.0,17.0,1.0,3.0,1.0,1.0,2.6
865,23401830.0,2.0,2.0,39.0,10.0,1.0,999,1.0,999,4.0,...,3.0,4.0,4.0,4.0,22.0,1.0,4.0,1.0,1.0,2.8
866,23401915.0,2.0,1.0,68.0,4.0,1.0,999,1.0,999,5.0,...,2.0,2.0,2.0,2.0,13.0,2.0,3.0,2.0,1.0,3.2
867,23402017.0,1.0,1.0,42.0,12.0,1.0,999,2.0,999,4.0,...,3.0,3.0,3.0,3.0,16.0,3.0,3.0,1.0,1.0,3.2

In [82]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

{'id': 'id 受訪者編號',
 'edition': 'edition 問卷版本',
 'a1': 'a1 性別',
 'a2_1': 'a2_1 出生年(民國)',
 'a2_2': 'a2_2 出生月',
 'a3': 'a3 請問您父親是哪裡人？',
 'a3_des': 'a3_des 父親是哪裡人，其他？',
 'a4': 'a4 請問您母親是哪裡人？',
 'a4_des': 'a4_des 母親是哪裡人，其他？',
 'a5': 'a5 請問你父親的教育程度是？',
 'a5_des': 'a5_des 其他',
 'a6': 'a6 請問你母親的教育程度是？',
 'a6_des': 'a6_des 其他',
 'a7': 'a7 請問您的家是從什麼時候開始住在三峽/鶯歌？',
 'a7_2': 'a7_2 到今年大約已經有幾年了？',
 'a7a': 'a7a 原來是從哪一個地區遷居到三峽/鶯歌的？',
 'a7a_des': '其他',
 'a8': 'a8 請問您的教育程度是？',
 'a8_des': 'a8_des 其他',
 'a9': 'a9 請問您目前的婚姻狀況是？',
 'a9_des': 'a9_des 其他',
 'a10': 'a10 請問您配偶/伴侶的教育程度是？',
 'a10_des': 'a10_des 其他',
 'a11_0': 'a11_0 請問您現在家中，有哪些人與您一同居住？無',
 'a11_1': 'a11_1 請問您現在家中，有哪些人與您一同居住？祖父/外祖父',
 'a11_2': 'a11_2 請問您現在家中，有哪些人與您一同居住？祖母/外祖母',
 'a11_3': 'a11_3 請問您現在家中，有哪些人與您一同居住？岳父',
 'a11_4': 'a11_4 請問您現在家中，有哪些人與您一同居住？岳母',
 'a11_5': 'a11_5 請問您現在家中，有哪些人與您一同居住？父親',
 'a11_6': 'a11_6 請問您現在家中，有哪些人與您一同居住？母親',
 'a11_7': 'a11_7 請問您現在家中，有哪些人與您一同居住？叔嬸/舅妗',
 'a11_8': 'a11_8 請問您現在家中，有哪些人與您一同居住？堂/表兄弟姊妹',
 'a11_9': 'a11_9 請問您現在家中，有哪些人與您一同居住？配偶/伴侶',
 'a11_10': 'a11_10 請問您現在家中，有哪些人與您一同居住？兄弟姊妹',
 'a11_11': 'a11_11 請問您現在家中，有哪些人與您一同居住？兒子',
 'a11_12': 'a11_12 請問您現在家中，有哪些人與您一同居住？女兒',
 'a11_13': 'a11_13 請問您現在家中，有哪些人與您一同居住？侄甥',
 'a11_14': 'a11_14 請問您現在家中，有哪些人與您一同居住？(外籍)雇傭',
 'a11_15': 'a11_15 請問您現在家中，有哪些人與您一同居住？其他',
 'a11_des': 'a11_des 其他',
 'a12': 'a12 請問您目前信什麼教？',
 'a12_desc': 'a12_des 其他',
 'a13': 'a13 請問您家有沒有祖宗牌位？',
 'b1': 'b1請問您個人平均月收入多少？',
 'b2': 'b2請問您配偶/伴侶平均月收入多少？',
 'b3': 'b3請問您家庭每個月的平均收入是多少？',
 'b4': 'b4您認為您屬於哪個階層？',
 'b5': 'b5您認為您屬於哪個階級？',
 'b6_a_1': 'b6_a_1您目前正式工作：職位名稱',
 'b6_a_2': 'b6_a_2您目前正式工作：為誰工作？',
 'b6_a_3': 'b6_a_3您目前正式工作：工作類別？',
 'b6_a_4': 'b6_a_4您目前正式工作：行業？',
 'b6_b_1': 'b6_b_1第一個工作：職位名稱',
 'b6_b_2': 'b6_b_2第一個工作：為誰工作？',
 'b6_b_3': 'b6_b_3第一個工作：工作類別？',
 'b6_b_4': 'b6_b_4第一個工作：行業？',
 'b6_c_1': 'b6_c_1父親/母親工作：職位名稱',
 'b6_c_2': 'b6_c_2父親/母親工作：為誰工作？',
 'b6_c_3': 'b6_c_3父親/母親工作：工作類別？',
 'b6_c_4': 'b6_c_4父親/母親工作：行業？',
 'b6_d_1': 'b6_d_1您配偶的正式工作：職位名稱',
 'b6_d_2': 'b6_d_2您配偶的正式工作：為誰工作？',
 'b6_d_3': 'b6_d_3您配偶的正式工作：工作類別？',
 'b6_d_4': 'b6_d_4您配偶的正式工作：行業？',
 'b7': 'b7請問您目前一周平均工作時數大概幾小時？',
 'b8': 'b8家裡是否有養寵物經驗？',
 'b9': 'b9您自己是否有養寵物經驗？',
 'b10': 'b10整體來說，您覺得您幸不幸福？',
 'b10_2': 'b10_2整體來說，您覺得您快不快樂？',
 'c1a': 'c1a下列敘述，符不符合您的情況？對玻璃、鋁罐…做分類。',
 'c1b': 'c1b下列敘述，符不符合您的情況？減少搭乘汽機車。',
 'c1c': 'c1c下列敘述，符不符合您的情況？購物時會自備購物袋或容器。',
 'c1d': 'c1d下列敘述，符不符合您的情況？為了節約用電，隨手關掉電器。',
 'c1e': 'c1e下列敘述，符不符合您的情況？購買有機蔬菜水果。',
 'c1f': 'c1f下列敘述，符不符合您的情況？自備吸管。',
 'c1g': 'c1g下列敘述，符不符合您的情況？自備飲料提袋。',
 'c2a': 'c2a國家政策的優先次序？比民主發展優先。',
 'c2b': 'c2b國家政策的優先次序？比社會福利發展優先。',
 'c2c': 'c2c國家政策的優先次序？比環境保護優先。',
 'c2d': 'c2d國家政策的優先次序？比國防優先。',
 'c2e': 'c2e國家政策的優先次序？比教育優先。',
 'c3a': 'c3a下列有一些敘述，您同不同意？關心地球的破壞情況。',
 'c3b': 'c3b下列有一些敘述，您同不同意？有責任維護地球',
 'c3c': 'c3c下列有一些敘述，您同不同意？世界的人口已超過可承受限度。',
 'c3d': 'c3d下列有一些敘述，您同不同意？自然資源的開發嚴重破壞生態。',
 'c3e': 'c3e下列有一些敘述，您同不同意？過度開發造成極端氣候。',
 'c3f': 'c3f下列有一些敘述，您同不同意？地球的資源是有限度的。',
 'c3g': 'c3g下列有一些敘述，您同不同意？為了敬神，燃燒紙錢。',
 'c3h': 'c3h下列有一些敘述，您同不同意？為了環保，使用費用較高的電。',
 'c3i': 'c3i下列有一些敘述，您同不同意？空氣汙染嚴重時避免出門。',
 'c4a': 'c4a下列敘述，您同不同意？應禁止訓練動物表演。',
 'c4b': 'c4b下列敘述，您同不同意？動物園裡的動物很可憐',
 'c4c': 'c4c下列敘述，您同不同意？應禁止用動物做彩妝實驗',
 'c4d': 'c4d下列敘述，您同不同意？應禁止用動物做醫學實驗。',
 'c4e': 'c4e下列敘述，您同不同意？應讓動物成為人類的朋友。',
 'c4f': 'c4f下列敘述，您同不同意？屠宰食用動物得符合人道。',
 'c5a': 'c5a下列描述是否符合您的情形？家裡有空氣清淨機。',
 'c5b': 'c5b下列描述是否符合您的情形？家裡有空氣品質偵測器。',
 'c5c': 'c5c下列描述是否符合您的情形？住家附近五公里有會排放廢氣的工廠。',
 'c5d': 'c5d下列描述是否符合您的情形？曾經在家附近聞到奇怪化學味道。',
 'c6a': 'c6a過去一年內，發生頻率？沒有感冒時，會打噴嚏、鼻水。',
 'c6b': 'c6b過去一年內，發生頻率？呼吸困難。',
 'c6c': 'c6c過去一年內，發生頻率？呼吸伴有咻咻聲。',
 'c6d': 'c6d過去一年內，發生頻率？沒有感冒時，持續性咳嗽。',
 'c6e': 'c6e過去一年內，發生頻率？早上醒來時咳嗽的情形。',
 'c6f': 'c6f過去一年內，發生頻率？夜間睡覺時有咳嗽的情形。',
 'c6g': 'c6g過去一年內，發生頻率？咳嗽時伴有痰液。',
 'c6h': 'c6h過去一年內，發生頻率？早晨醒來時口中伴有痰液。',
 'c6i': 'c6i過去一年內，發生頻率？曾因呼吸道疾病而影響日常。',
 'c6j': 'c6j過去一年內，發生頻率？曾因呼吸道疾病住院。',
 'c6k': 'c6k過去一年內，發生頻率？步行上坡時感覺呼吸困難。',
 'c6l': 'c6l過去一年內，發生頻率？感冒時容易引發其他疾病。',
 'c7a': 'c7a下列敘述，符不符合日常生活？出門前先查看空氣品質。',
 'c7b': 'c7b下列敘述，符不符合日常生活？空氣汙染嚴重時會戴口罩。',
 'c7c': 'c7c下列敘述，符不符合日常生活？空氣汙染嚴重時減少戶外活動。',
 'c7d': 'c7d下列敘述，符不符合日常生活？常常使用空氣清淨機。',
 'c7e': 'c7e下列敘述，符不符合日常生活？身旁有人抽菸時會盡量閃避。',
 'c7f': 'c7f下列敘述，符不符合日常生活？會定期清潔居住環境。',
 'c7g': 'c7g下列敘述，符不符合日常生活？不常抽菸。',
 'c8_1': 'c8_1下列何種氣體不會危害人體？',
 'c8_2': 'c8_2下列何者不是空氣汙染物',
 'c8_3': 'c8_3何種空氣汙染物有世紀之毒的稱號?',
 'c8_4': 'c8_4目前造成台灣嚴重空氣汙染的主要空氣汙染物為？',
 'c8_5': 'c8_5 何種類型的發電廠容易造成酸雨?',
 'c8_6': 'c8_6請問您平常最常使用何種交通工具',
 'c8_7': 'c8_7請問您一天花費在交通工具上時間?',
 'd1': 'd1您最常閱讀哪一份報紙？',
 'd1_des': 'd1_des其他',
 'd2': 'd2您最常收看哪一個電視新聞頻道？',
 'd2_des': 'd2_des其他',
 'd3a': 'd3a下列媒體，請問您每天使用多久？手機',
 'd3b': 'd3b下列媒體，請問您每天使用多久？電視',
 'd3c': 'd3c下列媒體，請問您每天使用多久？報紙',
 'd3d': 'd3d下列媒體，請問您每天使用多久？電腦',
 'd3e': 'd3e下列媒體，請問您每天使用多久？收音機',
 'd4a': 'd4a下列有一些敘述您同不同意？ 選擇有環保能源標章的產品。',
 'd4b': 'd4b下列有一些敘述您同不同意？選擇包裝較少的產品。',
 'd4c': 'd4c下列有一些敘述您同不同意？選擇天然成分或材質的產品。',
 'd4d': 'd4d下列有一些敘述您同不同意？用過的塑膠袋下一次再用。',
 'd4e': 'd4e下列有一些敘述您同不同意？儘量購買二手產品。',
 'd4f': 'd4f下列有一些敘述您同不同意？紙張的兩面儘量都用到。',
 'd4g': 'd4g下列有一些敘述您同不同意？已有容器時會購買補充包。',
 'd4h': 'd4h下列有一些敘述您同不同意？我避免使用一次性使用商品。',
 'e1a': 'e1a 下列敘述同不同意？我認為我是三峽/鶯歌人。',
 'e1b': 'e1b 下列敘述同不同意？我會以三峽/鶯歌人的身分為榮。',
 'e1c': 'e1c 下列敘述同不同意？相對於台灣各地，我更關心三鶯的發展。',
 'e1d': 'e1d 下列敘述同不同意？如果我搬離三鶯地區，我會捨不得。',
 'e1e': 'e1e 下列敘述同不同意？我時常關心三鶯所發生的事情。',
 'e1f': 'e1f 下列敘述同不同意？我常與別人討論有關三鶯地區的事情',
 'e1g': 'e1g 下列敘述同不同意？我會積極參與當地舉辦的各項活動/服務工作',
 'e2a': 'e2a 下列關於祖師廟的敘述您同不同意？我熟悉祖師廟的歷史沿革',
 'e2b': 'e2b 下列關於祖師廟的敘述您同不同意？到祖師廟拜拜可以讓我心靈安定',
 'e2c': 'e2c 下列關於祖師廟的敘述您同不同意？祖師爺是三鶯地區最重要的信仰',
 'e2d': 'e2d 下列關於祖師廟的敘述您同不同意？祖師廟的活動會對三鶯地區帶來很好的影響',
 'e2e': 'e2e 下列關於祖師廟的敘述您同不同意？我經常參加祖師廟舉辦的活動',
 'e3a': 'e3a 下列有一些跟賽神豬有關的事您是否了解？神豬的飼養過程',
 'e3b': 'e3b 下列有一些跟賽神豬有關的事您是否了解？賽神豬相關慶典的時間和地點',
 'e3c': 'e3c 下列有一些跟賽神豬有關的事您是否了解？神豬習俗的由來',
 'e3d': 'e3a 下列有一些跟賽神豬有關的事您是否了解？神豬慶典的過程',
 'e3e': 'e3e 下列有一些跟賽神豬有關的事您是否了解？賽神豬是以重量取勝',
 'e4a': 'e4a 下列關於賽神豬的一些敘述您同不同意？賽神豬在祖師廟祭典中很重要',
 'e4b': 'e4b 下列關於賽神豬的一些敘述您同不同意？不應隨意改變或取消賽神豬的活動',
 'e4c': 'e4c 下列關於賽神豬的一些敘述您同不同意？如果賽神豬不比賽重量就失去意義了',
 'e4d': 'e4d 下列關於賽神豬的一些敘述您同不同意？賽神豬表現對神的敬意',
 'e4e': 'e4e 下列關於賽神豬的一些敘述您同不同意？以動物拜祖師爺是尊重傳統文化的表現',
 'e4f': 'e4f 下列關於賽神豬的一些敘述您同不同意？飼養神豬最重要的是追求最高的重量',
 'e4g': 'e4g 下列關於賽神豬的一些敘述您同不同意？為了養肥神豬，即便豬隻因此無法正常站立也無所謂',
 'e4h': 'e4h 下列關於賽神豬的一些敘述您同不同意？能力範圍內，我願意幫忙宣傳賽神豬活動',
 'e4i': 'e4i 下列關於賽神豬的一些敘述您同不同意？我願意幫忙宣傳賽神豬活動',
 'e4j': 'e4j 下列關於賽神豬的一些敘述您同不同意？我會邀請朋友一起來參加賽神豬活動',
 'e4k': 'e4k 下列關於賽神豬的一些敘述您同不同意？賽神豬在我心中有不可取代的重要地位',
 'f1a': 'f1a下列敘述您同不同意？與人結交，最好要小心一些。',
 'f1b': 'f1b下列敘述您同不同意？我能跟人交心。',
 'f1c': 'f1c下列敘述您同不同意？有人能理解我。',
 'f1d': 'f1d下列敘述您同不同意？與人結交是一件很麻煩的事。',
 'f1e': 'f1e下列敘述您同不同意？我覺得獨處比和人在一起更愉快。',
 'f1f': 'f1f下列敘述您同不同意？有人真正了解我。',
 'f2a': 'f2a下列敘述您同不同意？社會變動快到我什麼都沒辦法掌握。',
 'f2b': 'f2b下列敘述您同不同意？生活要做這麼多決定，有時實在不知該怎麼辦。',
 'f2c': 'f2c下列敘述您同不同意？人與人之間再也沒有可靠而值得信任的關係。',
 'f2d': 'f2d下列敘述您同不同意？除非碰上了好運，一個人很難升官發財。',
 'f2e': 'f2e下列敘述您同不同意？生活中人總是可以找到可以信任的人。',
 'f2f': 'f2f下列敘述您同不同意？做人實在沒有什麼意義。',
 'f2g': 'f2g下列敘述您同不同意？為了避免麻煩，鄰居間還是少來往為妙。',
 'f2h': 'f2h下列敘述您同不同意？每做完一件事，我都能判斷出自己做得對不對。',
 'f3': 'f3在三鶯地區，與您經常來往的朋友多不多？',
 'f4': 'f4在三鶯地區，與您經常來往的親戚多不多？',
 'f5': 'f5在三鶯地區，與您經常來往的同事多不多？',
 'f6a': 'f6a下列有一些敘述您同不同意？這個社區／鄰里的居民，是值得我相信的。',
 'f6b': 'f6b下列有一些敘述您同不同意？我覺得我是社區/鄰里中的一份子。',
 'f6c': 'f6c下列有一些敘述您同不同意？這個社區／鄰里很有家的感覺。',
 'f6d': 'f6d下列有一些敘述您同不同意？如果可以，我想要一直住在這個社區/鄰里。',
 'f6e': 'f6e下列有一些敘述您同不同意？整體而言，我覺得這個社區／鄰里是一個共同體。',
 'f6f': 'f6f下列有一些敘述您同不同意？如果要搬離這個社區／鄰里，我會捨不得。',
 'f6g': 'f6g下列有一些敘述您同不同意？整體而言，我覺得社區／鄰里中的居民會互助與關懷。',
 'f7a': 'f7a請問您是否會對陌生人做這些事？協助老人、小孩過馬路。',
 'f7b': 'f7b請問您是否會對陌生人做這些事？向身障人士買口香糖或糖果。',
 'f7c': 'f7c請問您是否會對陌生人做這些事？施捨乞丐。',
 'f7d': 'f7d請問您是否會對陌生人做這些事？在公車／火車／捷運…上讓座。',
 'f8a': 'f8a過去一年當中，您做過下列敘述的事嗎？捐發票或錢給慈善機構。',
 'f8b': 'f8b過去一年當中，您做過下列敘述的事嗎？捐物資或錢救災。',
 'f8c': 'f8c過去一年當中，您做過下列敘述的事嗎？清掃街道。',
 'f8d': 'f8d過去一年當中，您做過下列敘述的事嗎？清掃海灘。',
 'f8e': 'f8e過去一年當中，您做過下列敘述的事嗎？擔任志工。',
 'f8f': 'f8f過去一年當中，您做過下列敘述的事嗎？捐血。',
 'f9a_1': 'f9a_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_兒童',
 'f9b_1': 'f9b_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_醫藥衛生',
 'f9c_1': 'f9c_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_文史',
 'f9d_1': 'f9d_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_老人',
 'f9e_1': 'f9e_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_環境',
 'f9f_1': 'f9f_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_其他弱勢',
 'f9g_1': 'f9g_1三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_其他',
 'f9f_des': 'f9f_des三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_其他弱勢',
 'f9g_des': 'f9g_des三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_直接提供服務的團體_其他',
 'f9a_2': 'f9a_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_兒童',
 'f9b_2': 'f9b_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_醫藥衛生',
 'f9c_2': 'f9c_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_文史',
 'f9d_2': 'f9d_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_老人',
 'f9e_2': 'f9e_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_環境',
 'f9f_2': 'f9f_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_其他弱勢',
 'f9g_2': 'f9g_2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_其他',
 'f9f_des2': 'f9f_des2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_其他弱勢',
 'f9g_des2': 'f9g_des2三鶯地區有許多社會團體，您比較可能加入什麼樣的志願團體？_導觀念/爭取權益的團體_其他',
 'g1': 'g1上次市長選舉中，您支持的候選人是哪一個政黨？',
 'g1_des': 'g1_des 其它',
 'g2': 'g2 上次總統選舉中，您支持的候選人是哪一個政黨？',
 'g2_des': 'g2_des 其它',
 'g3': 'g3上次立法委員選舉中，您支持的候選人是哪一個政黨？',
 'g3_des': 'g3_des 其它',
 'g4a': 'g4a下面幾種說法請問您同不同意？政府如受民意機關監督，事情就會做不好。',
 'g4b': 'g4b下面幾種說法請問您同不同意？大家想法?一致，是民主社會正常的現象。',
 'g4c': 'g4c下面幾種說法請問您同不同意？?同意?的團體越多，社會就不安定。',
 'g4d': 'g4d下面幾種說法請問您同不同意？在野黨應該經常質疑執政黨的政策。',
 'g4e': 'g4e下面幾種說法請問您同不同意？國家大小事，皆應聽從中央政府首長的決定。',
 'g4f': 'g4f下面幾種說法請問您同不同意？只要領導者品德高尚，任何事情可以由他作主。',
 'g4g': 'g4g下面幾種說法請問您同不同意？不論教育程度如何，所有人都應該有同等的政治發言權。',
 'g4h': 'g4h下面幾種說法請問您同不同意？對付殘?的犯人應馬上處罰，?必等待緩慢的法院審判。',
 'g4i': 'g4i下面幾種說法請問您同不同意？民間團體多，是社會進步的現象。',
 'h1': 'h1請問與您經常來往的朋友當中，和您的宗教信仰〈或沒有宗教信仰〉相同的人多不多？',
 'h2': 'h2請問您目前有沒有拜神明〈如土地公、媽祖…〉？',
 'h3a': 'h3a您贊成下列說法嗎？自己肯努力，不一定要靠神。',
 'h3b': 'h3b您贊成下列說法嗎？人死後有子孫祭拜才好。',
 'h3c': 'h3c您贊成下列說法嗎？一個人為善為惡會影響後代子孫的幸福。',
 'h3d': 'h3d您贊成下列說法嗎？為善為惡會影響一個人下輩子的命運。',
 'h3e': 'h3e您贊成下列說法嗎？人很難改變自己的命運。',
 'h4a': 'h4a您自己的情況是？自我成長應該包含一個人的靈性成長。',
 'h4b': 'h4b您自己的情況是？一個人不一定要參加宗教團體，靠自己靈修也可以接近佛或接近神。',
 'h5a': 'h5a以下有一些事是關於信仰的看法。您是否同意？陰陽五行失調，人就會出問題（事）。',
 'h5b': 'h5b人運氣的好壞，是可以改變的。',
 'h5c': 'h5c人的世界之外還有天堂和地獄。',
 'h5d': 'h5d世界上真的有因果輪迴。',
 'h5e': 'h5e緣份是上輩子甚至是幾世前就決定的。',
 'h5f': 'h5f風水對人的影響很大。',
 'h5g': 'h5g要瞭解世界，科學理性比宗教信仰還重要。',
 'h5h': 'h5h神和鬼的確存在。',
 'h5i': 'h5i科學知識可以解釋許多現象。',
 'h5j': 'h5j現在做的功德可以變做後代子孫的福氣。',
 'h5k': 'h5k宇宙有一個至高無上的神。',
 'h5l': 'h5l身體比較健康的人，氣都比較強。',
 'i1a': 'i1a 您覺得台北大學對您們這個地方各個方面的影響大致如何？在地文化',
 'i1b': 'i1b 您覺得台北大學對您們這個地方各個方面的影響大致如何？地方經濟',
 'i1c': 'i1c 您覺得台北大學對您們這個地方各個方面的影響大致如何？居住環境',
 'i2': 'i2 一般來說，台北大學來到這個地方，對您們這個地方的人，有無好壞之處？',
 'i3': 'i3 您曾經有被三鶯調查訪問過嗎？',
 'i4': 'i4 整體來說，您覺得您快不快樂？',
 'i4_2': 'i4_2 整體來說，您覺得您幸不幸福？',
 'j1': 'j1 數量登記（前一份問卷發完後至這份問卷之間，共有幾個人拒訪）',
 'age': '年齡',
 'age_sq': 'age_sq 年齡平方',
 'age1': '年齡(月)',
 'agegroup': '年齡分組',
 'agesex': None,
 'happy': '整體來說，您覺得您快不快樂?',
 'happiness': '整體來說，您覺得您幸不幸福?',
 'region': '行政區',
 'urban': None,
 'weightx': None,
 'sanshia': '三鶯地區認同',
 'community': '社區認同',
 'help': '助人意願',
 'dohelp': '助人行為',
 'eduy': '教育年數',
 'eduy_sq': 'edu_sq 教育年數平方',
 'nfriend': None,
 'nrelative': None,
 'ncolleuage': None,
 'net': '人際網絡',
 'god': '宗教信仰',
 'worship': '有無宗教信仰',
 'sngo': '服務ngo',
 'pngo': '倡議ngo',
 'allngo': '總參與意願',
 'sex': '性別',
 'inc': '收入',
 'hab1': None,
 'hab2': None,
 'hab3': None,
 'hab4': None,
 'pa1': None,
 'pa2': None,
 'pa3': None,
 'emigra': None,
 'green': None,
 'blue': None,
 'none': None,
 'FAC1_1': '多元主義',
 'FAC2_1': 'REGR factor score   2 for analysis 1',
 'respirotory.disease': None,
 'social_1': 'f1a_R 下列敘述您同不同意？與人結交，最好要小心一些。',
 'social_2': 'f1b下列敘述您同不同意？我能跟人交心。',
 'social_3': 'f1c下列敘述您同不同意？有人能理解我。',
 'social_4': 'f1d_R 下列敘述您同不同意？與人結交是一件很麻煩的事。',
 'social_5': 'f1e_R 下列敘述您同不同意？我覺得獨處比和人在一起更愉快。',
 'social_6': 'f1f下列敘述您同不同意？有人真正了解我。',
 'sociability': '社交性（alpha=0.574）',
 'trust_1': 'f2c下列敘述您同不同意？人與人之間再也沒有可靠而值得信任的關係。',
 'trust_2': 'f2e下列敘述您同不同意？生活中人總是可以找到可以信任的人。',
 'trust_3': 'f2f下列敘述您同不同意？做人實在沒有什麼意義。',
 'trust_4': 'f2g下列敘述您同不同意？為了避免麻煩，鄰居間還是少來往為妙。',
 'Env_act': 'Env_act  環境行為（=(c1a+c1c+c1d+c1f+c1g)/5）'}

# 教育程度（a8）、個人收入（b1）兩個變數的相關分析

In [6]:
df_1 = df[["a8", "b1"]].copy().rename(columns = { 'a8': 'education', 'b1': 'income' })
df_1

     education  income
0         18.0     3.0
1         18.0     4.0
2         18.0     3.0
3          8.0     4.0
4          6.0     1.0
..         ...     ...
863        3.0     0.0
864        8.0     0.0
865        3.0     0.0
866        8.0     4.0
867        4.0     3.0

[868 rows x 2 columns]

## List the variable labels of education and income

In [42]:
print('education')
education_variable_value_labels = variable_value_labels['a8']
print(education_variable_value_labels)
print('\n')
print('income')
income_variable_value_labels = variable_value_labels['b1']
print(variable_value_labels['b1'])

education
{1.0: '無', 2.0: '自修', 3.0: '小學肄業', 4.0: '國(初)中', 5.0: '初職', 6.0: '高中普通科', 7.0: '高中職業科', 8.0: '高職', 9.0: '士官學校', 10.0: '五專', 11.0: '二專', 12.0: '三專', 13.0: '軍警專修班', 14.0: '軍警專科班', 15.0: '空中行專', 16.0: '空中大學', 17.0: '軍警官學校', 18.0: '技術學院、科大', 19.0: '大學', 20.0: '碩士', 21.0: '博士', 22.0: '其他', 997.0: '拒答', 998.0: '漏答', 999.0: '不適用'}


income
{0.0: '無收入', 1.0: '未滿1萬元', 2.0: '1萬元以上，未滿2萬元', 3.0: '2萬元以上，未滿3萬元', 4.0: '3萬元以上，未滿4萬元', 5.0: '4萬元以上，未滿5萬元', 6.0: '5萬元以上，未滿6萬元', 7.0: '6萬元以上，未滿7萬元', 8.0: '7萬元以上，未滿8萬元', 9.0: '8萬元以上，未滿9萬元', 10.0: '9萬元以上，未滿10萬元', 11.0: '10萬元以上，未滿11萬元', 12.0: '11萬元以上，未滿12萬元', 13.0: '12萬元以上，未滿13萬元', 14.0: '13萬元以上，未滿14萬元', 15.0: '14萬元以上', 997.0: '拒答', 998.0: '漏答', 999.0: '不適用'}

## Distributions

In [7]:
print(df_1['education'].value_counts())
print('\n')
print(df_1['income'].value_counts())

education
19.0    210
8.0     161
7.0      96
4.0      91
18.0     60
3.0      55
11.0     49
10.0     41
20.0     41
6.0      31
12.0      6
14.0      5
16.0      4
21.0      4
1.0       4
15.0      3
17.0      2
9.0       2
13.0      1
5.0       1
2.0       1
Name: count, dtype: int64


income
4.0     201
0.0     139
3.0     137
5.0      96
6.0      74
2.0      68
1.0      29
8.0      27
7.0      25
15.0     24
10.0     19
11.0     12
9.0       8
13.0      4
12.0      1
Name: count, dtype: int64

## Filter "無", "自修", "初職" out from education

In [37]:
df_1_filtered = df_1.query("education not in [1.0, 2.0, 5.0]")
print(df_1_filtered['education'].value_counts())
print('\n')
print(df_1_filtered['income'].value_counts())

education
19.0    210
8.0     161
7.0      96
4.0      91
18.0     60
3.0      55
11.0     49
20.0     41
10.0     41
6.0      31
12.0      6
14.0      5
16.0      4
21.0      4
15.0      3
17.0      2
9.0       2
13.0      1
Name: count, dtype: int64


income
4.0     201
3.0     137
0.0     134
5.0      96
6.0      74
2.0      67
1.0      29
8.0      27
7.0      25
15.0     24
10.0     19
11.0     12
9.0       8
13.0      4
12.0      1
Name: count, dtype: int64

## Recode for Education
Rules：
1. 小學
2. 國中
3. 高中職
4. 大學與專科
5. 研究所以上

In [72]:
import numpy as np

def categorize_education(value):
    label = education_variable_value_labels.get(value, None)
    category_mapping = {
        '小學肄業': 1,
        '國(初)中': 2,
        '高職': 3,
        '高中職業科': 3,
        '高中普通科': 3,
        '大學': 4,
        '技術學院、科大': 4,
        '二專': 4,
        '五專': 4,
        '三專': 4,
        '空中大學': 4,
        '軍警專科班': 4,
        '空中行專': 4,
        '士官學校': 4,
        '軍警官學校': 4,
        '軍警專修班': 4,
        '博士': 5,
        '碩士': 5
    }
    
    return category_mapping.get(label, np.nan)

df_1_recoded = df_1_filtered.copy()
df_1_recoded.loc[:, 'education_recoded'] = df_1_recoded['education'].apply(categorize_education)

## Recode for Income
Rules：
1. 無收入
2. 低收入（未滿2萬元）
3. 中低收入（2-4萬元）
4. 中等收入（4-6萬元）
5. 中高收入（6-8萬元）
6. 高收入（8萬元以上）

In [73]:
import numpy as np

def categorize_income(value):
    label = income_variable_value_labels.get(value, None)
    income_mapping = {
        '無收入': 1,
        '未滿1萬元': 2,
        '1萬元以上，未滿2萬元': 2,
        '2萬元以上，未滿3萬元': 3,
        '3萬元以上，未滿4萬元': 3,
        '4萬元以上，未滿5萬元': 4,
        '5萬元以上，未滿6萬元': 4,
        '6萬元以上，未滿7萬元': 5,
        '7萬元以上，未滿8萬元': 5,
        '8萬元以上，未滿9萬元': 6,
        '9萬元以上，未滿10萬元': 6,
        '10萬元以上，未滿11萬元': 6,
        '11萬元以上，未滿12萬元': 6,
        '12萬元以上，未滿13萬元': 6,
        '14萬元以上': 6
    }
    
    return income_mapping.get(label, np.nan)


df_1_recoded.loc[:, 'income_recoded'] = df_1_recoded['income'].apply(categorize_income)

## 完全排除遺漏值

In [80]:
df_1_drop_missing_value = df_1_recoded.dropna()
df_1_drop_missing_value.info()

<class 'pandas.core.frame.DataFrame'>
Index: 858 entries, 0 to 867
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   education          858 non-null    float64
 1   income             858 non-null    float64
 2   education_recoded  858 non-null    int64
 3   income_recoded     858 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 33.5 KB

### Perform Pearson Correlation

In [75]:
from scipy.stats import pearsonr
import numpy as np

from statistic.pearson import pearson_correlation_table

results, corr_coef, p_value = pearson_correlation_table(df_1_drop_missing_value, 'education_recoded', 'income_recoded')
results

                            Metric              Value
0  Pearson Correlation Coefficient             0.3280
1                          P-value             0.0000
2                      Sample Size                858
3      Significance Level (α=0.05)        Significant
4                   Interpretation  Moderate Positive

## 以「數列平均數」置換個人收入的遺漏值，並以此置換後的新變數做與教育程度的相關分析

In [76]:
df_1_replace_by_average = df_1_recoded.copy()

In [77]:
df_1_recoded.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 0 to 867
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   education          862 non-null    float64
 1   income             858 non-null    float64
 2   education_recoded  862 non-null    int64
 3   income_recoded     858 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 33.7 KB

In [78]:
df_1_replace_by_average.loc[:, 'income_recoded'] = df_1_replace_by_average['income_recoded'].fillna(df_1_replace_by_average['income_recoded'].mean())

In [79]:
df_1_replace_by_average.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 0 to 867
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   education          862 non-null    float64
 1   income             858 non-null    float64
 2   education_recoded  862 non-null    int64
 3   income_recoded     862 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 33.7 KB

### Perform Pearson Correlation

In [81]:
results, corr_coef, p_value = pearson_correlation_table(df_1_replace_by_average, 'education_recoded', 'income_recoded')
results

                            Metric              Value
0  Pearson Correlation Coefficient             0.3272
1                          P-value             0.0000
2                      Sample Size                862
3      Significance Level (α=0.05)        Significant
4                   Interpretation  Moderate Positive

# 受訪者的環境行為（c1）與性別分析

In [89]:
df_2 = df[['a1', 'c1a', 'c1b', 'c1c', 'c1d', 'c1e', 'c1f', 'c1g']].copy().rename(columns = { 'a1': 'sex' })

## 環境行為（c1）總分

## Add a new column(c1_sum) as the sum of columns c1a to c1g

In [88]:
df_2.loc[:, 'c1_sum'] = df[['c1a', 'c1b', 'c1c', 'c1d', 'c1e', 'c1f', 'c1g']].sum(axis=1)
df_2

     sex  c1a  c1b  c1c  c1d  c1e  c1f  c1g  c1_sum
0    2.0  3.0  3.0  3.0  3.0  3.0  2.0  3.0    20.0
1    1.0  3.0  3.0  3.0  3.0  2.0  2.0  3.0    19.0
2    2.0  3.0  2.0  3.0  3.0  2.0  2.0  2.0    17.0
3    1.0  4.0  3.0  3.0  4.0  2.0  2.0  2.0    20.0
4    2.0  4.0  3.0  3.0  3.0  2.0  2.0  3.0    20.0
..   ...  ...  ...  ...  ...  ...  ...  ...     ...
863  2.0  4.0  1.0  4.0  3.0  1.0  1.0  3.0    17.0
864  2.0  4.0  2.0  4.0  3.0  3.0  1.0  1.0    18.0
865  2.0  4.0  4.0  4.0  4.0  3.0  1.0  1.0    21.0
866  1.0  4.0  2.0  3.0  3.0  4.0  2.0  4.0    22.0
867  1.0  4.0  1.0  4.0  4.0  3.0  1.0  3.0    20.0

[868 rows x 9 columns]