# 1141_社會資料分析 作業八
學生：劉晏成

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：

性別（a1）與「垃圾分類行為」（c1a）兩者有無關聯？
1. 以卡方檢定檢測兩變項的關聯
2. 檢視和討論每個細格的調整後標準化殘差
3. 做整體結論

In [1]:
from load import load_sav
import pandas as pd

df = load_sav("../data/brilliant_working.sav")

In [2]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

In [6]:
df_1 = df[["a1", "c1a"]].copy().rename(columns = { 'a1': 'sex', 'b1': 'waste_sorting' })

In [7]:
df_1

     sex  c1a
0    2.0  3.0
1    1.0  3.0
2    2.0  3.0
3    1.0  4.0
4    2.0  4.0
..   ...  ...
863  2.0  4.0
864  2.0  4.0
865  2.0  4.0
866  1.0  4.0
867  1.0  4.0

[868 rows x 2 columns]