# 1141_社會資料分析 第一次期中考
學生：劉晏成

In [1]:
from load import load_sav
import pandas as pd
import numpy as np

In [2]:
df = load_sav("../data/midterm_1.sav")

In [3]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

## Q1. 
這份問卷調查執行於 2018 年，請利用「出生年」計算，創造出「年齡」變項。接著，請列出（1）性別、 （2）年齡、 （3）教育程度、 （4）家庭收入等變項的次數分布。

## Q2. 
請做下列計算，並說明結果：  
（1）性別的眾數（指出是哪個性別）；  
（2）平均年齡；  
（3）教育程度的眾數； （指出是哪個教育程度；如： 「小學」 ）；  
（4）家庭收入的中位數（指出是哪個收入層級；如「2 萬元以上，未滿 4 萬元」） 。

## Q3.
將「教育程度」重新編碼成新變項「大專以上學歷」（變項名 college_y） 。「無」到「士官學校」編成
0（數值標籤設成「大專以下」） ； 「五專」到「博士」編成 1（「大專以上」） 。然後列出新變項「大專以
上學歷」的次數分布。

## Q4. 
將「家庭收入」重新編碼成新變項「收入等級」（變項名 f_income_3gp） 。 「無收入」到未滿 6 萬元編
成 1（數值標籤設成「低」）；6 萬元以上到未滿 10 萬元編成 2（「中」）；10 萬元以上編成 3（「高」）。
然後列出新變項「收入等級」的次數分布。

## Q5. 
按下列步驟，創造「政治自由態度」變項。  
（1）將「拒答、漏答、不適用」等回應設成遺漏值；  
（2）檢查 g4a 到 g4i 這 9 個變項分布，如有其他不合理值，也設成遺漏值；  
（3）將 g4a、g4c、g4e、g4f、g4h 做反向編碼（將 1 改成 4，2 改成 3，依此類推） ；  
（4）將反向編碼後的 5 個變項，和其他 4 個變項的得分加總，將總分變項設成：G4_all，並加上標籤「政治自由態度」。    
（5）計算並報告「政治自由態度」變項的平均數和標準差。

## Q6. 
以「單一樣本 T 檢定」檢視受訪者的「政治自由態度」平均分數是否為 24。

## Q7.
以「獨立樣本 T 檢定」比較「男性」和「女性」的「政治自由態度」平均數是否有顯著差異。

## Q8. 
以「獨立樣本 T 檢定」比較「大專以下」和「大專以上」學歷者的「政治自由態度」平均數是否有顯著差異。

## Q9. 
以變異數分析方法（包括整體檢定與事後比較），檢視不同「收入等級」者的「政治自由態度」平均分數是否有顯著差異。

## Q10.
以「年齡」作為共變量，再次檢視不同「收入等級」者的「政治自由態度」平均分數是否有顯著差異。