# 1141_社會資料分析 作業九
學生：劉晏成

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：

1. 不同性別（a1）受訪者對於「是否減少搭乘汽機車」（c1b）的回答是否有顯著差異？
    - 以Cramer’s V 和 Lamda 檢定
2. 受訪者對於「與人結交，最好要小心一些」（f1a）與「 人與人之間再也沒有可靠而值得信任的關係。 」（trust_1）兩個問題的態度是否有顯著相關？
    - 以Gamma和 Tau-c係數檢定

In [1]:
from load import load_sav
import pandas as pd

df = load_sav("../data/brilliant_working.sav")

In [2]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

## Q1: 不同性別（a1）受訪者對於「是否減少搭乘汽機車」（c1b）的回答是否有顯著差異？
    以Cramer’s V 和 Lamda 檢定

In [3]:
df_1 = df[["a1", "c1b"]].copy().rename(columns = { 'a1': 'sex', 'c1b': 'reduce_vehicle_willing' })

首先計算Cramer's V

In [8]:
from statistic.categorical_data import crosstab_with_residuals

report = crosstab_with_residuals(row_series = df_1['reduce_vehicle_willing'], col_series = df_1['sex'])

性別間的百分比

In [9]:
report['ct_col_pct']

sex                           1.0        2.0
reduce_vehicle_willing
1.0                      8.133971   4.444444
2.0                     56.698565  46.000000
3.0                     24.641148  29.333333
4.0                     10.526316  20.222222

卡方檢定結果

In [10]:
report['chi2_table']

             Value
chi2     24.451853
p_value   0.000020
dof       3.000000

In [4]:
from statistic.categorical_data.cramers_v import cramers_v

cramers_v(row_series = df_1['sex'], col_series = df_1['reduce_vehicle_willing'])

{'cramers_v': 0.1678402134385773}

接下來實作Lambda Test。由於是否減少搭乘汽機車不影響個人性別，故採用以性別為自變數的不對稱Lambda 結果

In [5]:
from statistic.categorical_data.pre import goodman_kruskal_lambda, goodman_kruskal_tau

goodman_kruskal_lambda(df_1, 'sex', 'reduce_vehicle_willing')

,Measure,Type,Value,ASE,Approx_T,Approx_Sig
0,Lambda,Symmetric,0.052257,0.000027,1953.736882,0.0
1,Lambda,sex Dependent,0.105263,0.000054,1953.736882,0.0
2,Lambda,reduce_vehicle_willing Dependent,0.000000,0.000000,0.000000,1.0

In [6]:
goodman_kruskal_tau(df_1, 'sex', 'reduce_vehicle_willing')

,Measure,Type,Value,ASE,Approx_T,Approx_Sig
0,Goodman-Kruskal Tau,sex Dependent,0.028170,0.059809,0.471004,0.637638
1,Goodman-Kruskal Tau,reduce_vehicle_willing Dependent,0.009567,0.045477,0.210375,0.833375

## Q2: 受訪者對於「與人結交，最好要小心一些」（f1a）與「 人與人之間再也沒有可靠而值得信任的關係。 」（trust_1）兩個問題的態度是否有顯著相關？
    以Gamma和 Tau-c係數檢定

use f21