# 1141_社會資料分析 作業三
學生：劉晏成

# 題目

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：
1. 受訪者的平均教育年數（eduy）是否為12年？
2. 不同性別（a1）受訪者的教育程度（a8）是否有顯著差異？
3. 受訪者的教育程度（a8）和其配偶的教育程度（a10）有無顯著差異？

In [8]:
from load import load_sav

df = load_sav("../data/brilliant_working.sav")

In [11]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

In [7]:
target_columns = ['eduy', 'a1', 'a8', 'a10']
df[target_columns]

     eduy   a1    a8   a10
0    16.0  2.0  18.0  18.0
1    16.0  1.0  18.0   8.0
2    16.0  2.0  18.0   NaN
3    12.0  1.0   8.0   NaN
4    12.0  2.0   6.0  19.0
..    ...  ...   ...   ...
863   6.0  2.0   3.0   3.0
864  12.0  2.0   8.0   8.0
865   6.0  2.0   3.0   4.0
866  12.0  1.0   8.0   NaN
867   9.0  1.0   4.0   3.0

[868 rows x 4 columns]

In [14]:
for key in target_columns:
    print(f"{key}: {variable_value_labels.get(key)}")

eduy: None
a1: {1.0: '男', 2.0: '女'}
a8: {1.0: '無', 2.0: '自修', 3.0: '小學肄業', 4.0: '國(初)中', 5.0: '初職', 6.0: '高中普通科', 7.0: '高中職業科', 8.0: '高職', 9.0: '士官學校', 10.0: '五專', 11.0: '二專', 12.0: '三專', 13.0: '軍警專修班', 14.0: '軍警專科班', 15.0: '空中行專', 16.0: '空中大學', 17.0: '軍警官學校', 18.0: '技術學院、科大', 19.0: '大學', 20.0: '碩士', 21.0: '博士', 22.0: '其他', 997.0: '拒答', 998.0: '漏答', 999.0: '不適用'}
a10: {1.0: '無(不識字)', 2.0: '自修(識字、私塾)', 3.0: '小學肄業', 4.0: '國(初)中', 5.0: '初職', 6.0: '高中普通科', 7.0: '高中職業科', 8.0: '高職', 9.0: '士官學校', 10.0: '五專', 11.0: '二專', 12.0: '三專', 13.0: '軍警專修班', 14.0: '軍警專科班', 15.0: '空中行專', 16.0: '空中大學', 17.0: '軍警官學校', 18.0: '技術學院、科大', 19.0: '大學', 20.0: '碩士', 21.0: '博士', 22.0: '其他', 997.0: '拒答', 998.0: '漏答', 999.0: '不適用'}