# 1141_社會資料分析 作業八
學生：劉晏成

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：

性別（a1）與「垃圾分類行為」（c1a）兩者有無關聯？
1. 以卡方檢定檢測兩變項的關聯
2. 檢視和討論每個細格的調整後標準化殘差
3. 做整體結論

In [1]:
from load import load_sav
import pandas as pd

df = load_sav("../data/brilliant_working.sav")

In [2]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

In [3]:
df_1 = df[["a1", "c1a"]].copy().rename(columns = { 'a1': 'sex', 'c1a': 'waste_sorting' })

In [4]:
from statistic.chi_squared_test import crosstab_with_residuals

report = crosstab_with_residuals(row_series = df_1['waste_sorting'], col_series = df_1['sex'])

## Q1: 以卡方檢定檢測兩變項的關聯

首先觀察次數分配的交叉表

In [5]:
report['ct']

sex            1.0  2.0
waste_sorting
1.0              6    4
2.0             34   22
3.0            193  170
4.0            185  254

性別間的百分比

In [6]:
report['ct_col_pct']

sex                  1.0        2.0
waste_sorting
1.0             1.435407   0.888889
2.0             8.133971   4.888889
3.0            46.172249  37.777778
4.0            44.258373  56.444444

卡方檢定結果

In [7]:
report['chi2_table']

             Value
chi2     14.113290
p_value   0.002755
dof       3.000000

### Answer
P Value < 0.05；拒絕虛無假設，故不同性別的垃圾處理行為分佈有顯著差異

## Q2: 檢視和討論每個細格的調整後標準化殘差

檢視性別內比較的調整後標準化殘差

In [8]:
report['adjusted_residuals']

sex                 1.0       2.0
waste_sorting
1.0            0.753902 -0.753902
2.0              1.9445   -1.9445
3.0            2.505236 -2.505236
4.0           -3.588038  3.588038

### Answer

1. 兩性別在「不曾做過垃圾分類」以及「很少垃圾分類」的行為上，並無顯著差異
2. 兩性別在「通常垃圾分類」以及「總是垃圾分類」的行為上，有統計顯著差異。「通常垃圾分類」男性顯著高於期望值，而「總是垃圾分類」上女性顯著高於期望值

## Q3: 做整體結論

## Answer

1. 性別間與垃圾分類行為的關係有顯著差異
2. 經常分類行為以上（waste sorting > 3）者具有性別間的顯著差異
3. 男性顯著更多為「通常垃圾分類」
4. 女性顯著更多為「總是垃圾分類」
5. 觀察數值編碼方式後，已知垃圾分類行為數值具有階序關係。又由於在數值1、2 之間並無性別間差異，剩餘兩者高度垃圾分類意願則有性別差異。因此邏輯上，可判斷統計上，女性較有意願做垃圾分類。