# 1141_社會資料分析 作業四
學生：劉晏成

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：
1. 以變異數分析方法（包括整體檢定與事後比較），檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。
2. 以教育年數（eduy）作為共變量，再次檢視檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。

In [1]:
from load import load_sav
import pandas as pd

df = load_sav("../data/brilliant_working.sav")

In [2]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

## Q1: 以變異數分析方法（包括整體檢定與事後比較），檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。

In [3]:
df_1 = df[['agegroup', 'inc']].copy()

首先，先確認不同年齡組別分布

In [4]:
df_1['agegroup'].value_counts()

agegroup
1.0    336
2.0    327
3.0    205
Name: count, dtype: int64

確認共三組（1, 2, 3）

確認缺漏值狀況

In [5]:
from statistic.missing_value import check_missing_value

check_missing_value(df_1)

          # of Missing Values
agegroup                    0
inc                         4

發現有缺漏值，預處理inc 為缺漏值的資料

In [14]:
df_1_cleared = df_1.dropna()
check_missing_value(df_1_cleared)

          # of Missing Values
agegroup                    0
inc                         0

In [19]:
from scipy.stats import f_oneway

groups = {name: group['inc'].values for name, group in df_1_cleared.groupby('agegroup')}

f_stat, anova_p = f_oneway(groups[1], groups[2], groups[3])
pd.DataFrame({ 'Values': [f"{f_stat:.2f}", anova_p] }, index = ['F Stat', 'P Value'])

           Values
F Stat      14.44
P Value  0.000001

依據P Value 結果顯示三組間存在差異