# 1141_社會資料分析 作業四
學生：劉晏成

以「2018台北大學社會系三鶯調查」（brilliant_working.sav）檔案回答以下問題：
1. 以變異數分析方法（包括整體檢定與事後比較），檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。
2. 以教育年數（eduy）作為共變量，再次檢視檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。

In [1]:
from load import load_sav
import pandas as pd

df = load_sav("../data/brilliant_working.sav")

In [2]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

## Q1: 以變異數分析方法（包括整體檢定與事後比較），檢視不同年齡分組者（agegroup）的收入（inc）是否有顯著差異。

In [3]:
df_1 = df[['agegroup', 'inc']].copy()

首先，先確認不同年齡組別分布

In [4]:
df_1['agegroup'].value_counts()

agegroup
1.0    336
2.0    327
3.0    205
Name: count, dtype: int64

確認共三組（1, 2, 3）

確認缺漏值狀況

In [5]:
from statistic.missing_value import check_missing_value

check_missing_value(df_1)

          # of Missing Values
agegroup                    0
inc                         4

發現有缺漏值，預處理inc 為缺漏值的資料

In [6]:
df_1_cleared = df_1.dropna()
check_missing_value(df_1_cleared)

          # of Missing Values
agegroup                    0
inc                         0

In [7]:
from statistic.anova import perform_anova


anova_result = perform_anova(df=df_1_cleared, val_col='inc', group_col='agegroup')
anova_result

     Source  ddof1  ddof2          F         p-unc       np2
0  agegroup      2    861  14.442069  6.773292e-07  0.032458

依據P Value 結果顯示三組間存在差異

接下來執行Levene's test 來判斷均值性狀況，以執行事後比較

In [8]:
from scipy.stats import levene

groups = {name: group['inc'].values for name, group in df_1_cleared.groupby('agegroup')}

levene_stat, levene_p = levene(*groups.values())
pd.DataFrame({ 'Values': [f"{levene_stat:.2f}", levene_p] }, index = ['Levene Stat', 'P Value'])

               Values
Levene Stat      6.80
P Value      0.001176

結果顯示P Value 遠小於0.05：非均值。由於樣本數>50 ，這裡選擇games-howell 方法求得三組間兩兩比較的結果

In [9]:
from statistic.anova import perform_post_hoc

perform_post_hoc(df_1_cleared, levene_p = levene_p, val_col='inc', group_col='agegroup')

,A,B,mean(A),mean(B),diff,se,T,df,pval,hedges
0,1.0,2.0,34716.417910,42731.481481,-8015.063571,2268.694754,-3.532896,612.427945,0.001283,-0.276061
1,1.0,3.0,34716.417910,28829.268293,5887.149618,2648.795612,2.222576,356.062961,0.068779,0.208405
2,2.0,3.0,42731.481481,28829.268293,13902.213189,2884.143052,4.820223,434.151028,0.000006,0.429537

### Answer
由Anova 以及事後多重比較結果可得知：
1. 三組年齡組別的平均收入不完全相同
2. 年齡組別與收入關係為：2 > 1 > 3