In [3]:
from load import load_sav

df = load_sav("../data/brilliant_working.sav")

In [4]:
df

,id,edition,a1,a2_1,a2_2,a3,a3_des,a4,a4_des,a5,...,social_3,social_4,social_5,social_6,sociability,trust_1,trust_2,trust_3,trust_4,Env_act
0,11372211.0,2.0,2.0,77.0,7.0,1.0,999,1.0,999,8.0,...,3.0,3.0,3.0,3.0,17.0,3.0,4.0,2.0,2.0,2.8
1,11372212.0,2.0,1.0,76.0,9.0,1.0,999,1.0,999,5.0,...,4.0,2.0,2.0,3.0,16.0,3.0,3.0,2.0,2.0,2.8
2,11372213.0,2.0,2.0,74.0,2.0,1.0,999,1.0,999,5.0,...,3.0,2.0,2.0,3.0,16.0,3.0,3.0,1.0,2.0,2.6
3,11372509.0,1.0,1.0,83.0,10.0,1.0,999,3.0,999,5.0,...,4.0,4.0,3.0,3.0,19.0,2.0,3.0,1.0,1.0,3.0
4,11372517.0,1.0,2.0,48.0,9.0,2.0,999,1.0,999,4.0,...,3.0,2.0,3.0,3.0,16.0,3.0,3.0,2.0,2.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,23401723.0,2.0,2.0,49.0,1.0,1.0,999,1.0,999,3.0,...,2.0,2.0,2.0,2.0,13.0,1.0,4.0,1.0,1.0,3.0
864,23401724.0,2.0,2.0,69.0,10.0,1.0,999,1.0,999,4.0,...,3.0,4.0,3.0,2.0,17.0,1.0,3.0,1.0,1.0,2.6
865,23401830.0,2.0,2.0,39.0,10.0,1.0,999,1.0,999,4.0,...,3.0,4.0,4.0,4.0,22.0,1.0,4.0,1.0,1.0,2.8
866,23401915.0,2.0,1.0,68.0,4.0,1.0,999,1.0,999,5.0,...,2.0,2.0,2.0,2.0,13.0,2.0,3.0,2.0,1.0,3.2
867,23402017.0,1.0,1.0,42.0,12.0,1.0,999,2.0,999,4.0,...,3.0,3.0,3.0,3.0,16.0,3.0,3.0,1.0,1.0,3.2

In [5]:
df[["a8", "b1"]]

       a8   b1
0    18.0  3.0
1    18.0  4.0
2    18.0  3.0
3     8.0  4.0
4     6.0  1.0
..    ...  ...
863   3.0  0.0
864   8.0  0.0
865   3.0  0.0
866   8.0  4.0
867   4.0  3.0

[868 rows x 2 columns]

In [6]:
df.columns

Index(['id', 'edition', 'a1', 'a2_1', 'a2_2', 'a3', 'a3_des', 'a4', 'a4_des',
       'a5',
       ...
       'social_3', 'social_4', 'social_5', 'social_6', 'sociability',
       'trust_1', 'trust_2', 'trust_3', 'trust_4', 'Env_act'],
      dtype='object', length=320)