In [1]:
import sys
from pathlib import Path
from load import load_to_dataframe
import pandas as pd

In [9]:
df = load_to_dataframe("../data/practice_01.txt", 
                      column_names=['Id', 'Sex', 'Height', 'Weight'],
                      delimiter=' ')

âœ… Loaded file: practice_01.txt
ðŸ“Š Shape: (10, 4)
ðŸ“‹ Columns: ['Id', 'Sex', 'Height', 'Weight']

In [7]:
df

   Id  Sex  Height  Weight
0   1    1     170      55
1   2    2     155      48
2   3    2     157      46
3   4    1     172      70
4   5    2     160      50
5   6    1     168      65
6   7    1     182      78
7   8    2     150      50
8   9    1     168      72
9  10    2     168      50