# 1141_社會資料分析 第一次期中考
學生：劉晏成

In [1]:
from load import load_sav
import pandas as pd
import numpy as np
import statistic as my_stat

In [19]:
df = load_sav("../data/midterm_1.sav")
df.loc[:, 'age'] = 2018 - (df['a2_1'] + 1911)

In [3]:
variable_value_labels = df.attrs['variable_value_labels']
column_names = df.attrs['column_names']
column_names_to_labels = df.attrs['column_names_to_labels']

In [4]:
variable_value_labels['b3']

{0.0: '無收入',
 1.0: '未滿2萬元',
 2.0: '2萬元以上，未滿4萬元',
 3.0: '4萬元以上，未滿6萬元',
 4.0: '6萬元以上，未滿8萬元',
 5.0: '8萬元以上，未滿10萬元',
 6.0: '10萬元以上，未滿12萬元',
 7.0: '12萬元以上，未滿14萬元',
 8.0: '14萬元以上，未滿16萬元',
 9.0: '6萬元以上，未滿18萬元',
 10.0: '18萬元以上，未滿20萬元',
 11.0: '20萬元以上',
 997.0: '拒答',
 998.0: '漏答',
 999.0: '不適用'}

## Q1. 
這份問卷調查執行於 2018 年，請利用「出生年」計算，創造出「年齡」變項。接著，請列出（1）性別、 （2）年齡、 （3）教育程度、 （4）家庭收入等變項的次數分布。

In [5]:
df_1 = df[['a1', 'age', 'b3', 'a8']].copy().rename(columns = { 'a1': 'sex', 'a8': 'education', 'b3': 'family_income' })

### Ans 1: 性別次數分布

In [6]:
df_1['sex'].value_counts().sort_index()

sex
1.0    418
2.0    450
Name: count, dtype: int64

### Ans 2: 年齡次數分布

In [7]:
with pd.option_context("display.max_rows", None,
                       "display.max_colwidth", 200):
    display(df_1['age'].value_counts().sort_index())

age
18.0     4
19.0     8
20.0     7
21.0    17
22.0    15
23.0    17
24.0    29
25.0    14
26.0    17
27.0    19
28.0    22
29.0    15
30.0    11
31.0    19
32.0    20
33.0    23
34.0    16
35.0    21
36.0    26
37.0    21
38.0    24
39.0    18
40.0    17
41.0    23
42.0    30
43.0    16
44.0    20
45.0    16
46.0    15
47.0    14
48.0    17
49.0    11
50.0    13
51.0    14
52.0    15
53.0    22
54.0    24
55.0    20
56.0    20
57.0    20
58.0    11
59.0    13
60.0    11
61.0    13
62.0    13
63.0    14
64.0     8
65.0    14
66.0     8
67.0     8
68.0     8
69.0     7
70.0     5
71.0     3
72.0     1
73.0     6
74.0     1
75.0     2
76.0     1
77.0     4
78.0     3
80.0     2
81.0     1
83.0     1
Name: count, dtype: int64

### Ans 3: 教育程度分布

In [8]:
df_1['education'].value_counts().sort_index()

education
1.0       4
2.0       1
3.0      55
4.0      91
5.0       1
6.0      31
7.0      96
8.0     161
9.0       2
10.0     41
11.0     49
12.0      6
13.0      1
14.0      5
15.0      3
16.0      4
17.0      2
18.0     60
19.0    210
20.0     41
21.0      4
Name: count, dtype: int64

### Ans 4: 家庭收入分布

In [9]:
df_1['family_income'].value_counts().sort_index()

family_income
0.0      21
1.0      27
2.0     126
3.0     137
4.0     166
5.0     101
6.0     108
7.0      46
8.0      40
9.0      18
10.0     15
11.0     52
Name: count, dtype: int64

## Q2. 
請做下列計算，並說明結果：  
（1）性別的眾數（指出是哪個性別）；  
（2）平均年齡；  
（3）教育程度的眾數； （指出是哪個教育程度；如： 「小學」 ）；  
（4）家庭收入的中位數（指出是哪個收入層級；如「2 萬元以上，未滿 4 萬元」） 。

In [10]:
df_2 = df[['a1', 'age', 'b3', 'a8']].copy().rename(columns = { 'a1': 'sex', 'a8': 'education', 'b3': 'family_income' })

### Ans 1: 性別的眾數

再次得出性別次數分布

In [11]:
df_2['sex'].value_counts().sort_index()

sex
1.0    418
2.0    450
Name: count, dtype: int64

眾數為450，為女性。

### Ans 2: 平均年齡

計算出年齡的描述性統計

In [12]:
df_2['age'].describe()

count    868.000000
mean      43.267281
std       14.500049
min       18.000000
25%       32.000000
50%       42.000000
75%       55.000000
max       83.000000
Name: age, dtype: float64

平均年齡為43.27歲

### Ans 3: 教育程度的眾數； （指出是哪個教育程度；如： 「小學」 ）

計算出教育程度的眾數

In [13]:
df_2.loc[:, 'education'].mode()[0]

np.float64(19.0)

眾數為19 ，為大學

### Ans 4: 家庭收入的中位數（指出是哪個收入層級；如「2 萬元以上，未滿 4 萬元」）

計算出家庭收入的描述性統計

In [14]:
df_2['family_income'].describe()

count    857.000000
mean       4.705951
std        2.629341
min        0.000000
25%        3.000000
50%        4.000000
75%        6.000000
max       11.000000
Name: family_income, dtype: float64

中位數為4，為"6萬元以上，未滿8萬元"

## Q3.
將「教育程度」重新編碼成新變項「大專以上學歷」（變項名 college_y） 。「無」到「士官學校」編成
0（數值標籤設成「大專以下」） ； 「五專」到「博士」編成 1（「大專以上」） 。然後列出新變項「大專以
上學歷」的次數分布。

In [15]:
df_3 = df[['a8']].copy().rename(columns = { 'a8': 'education' })

In [16]:
df_3.attrs['variable_value_labels']['a8']

{1.0: '無',
 2.0: '自修',
 3.0: '小學肄業',
 4.0: '國(初)中',
 5.0: '初職',
 6.0: '高中普通科',
 7.0: '高中職業科',
 8.0: '高職',
 9.0: '士官學校',
 10.0: '五專',
 11.0: '二專',
 12.0: '三專',
 13.0: '軍警專修班',
 14.0: '軍警專科班',
 15.0: '空中行專',
 16.0: '空中大學',
 17.0: '軍警官學校',
 18.0: '技術學院、科大',
 19.0: '大學',
 20.0: '碩士',
 21.0: '博士',
 22.0: '其他',
 997.0: '拒答',
 998.0: '漏答',
 999.0: '不適用'}

依照指示編碼，並將22、997、998、999 三數字剔除

In [17]:
import numpy as np

df_3_recoded = (
    df_3.assign(
        college_y=np.select(
            [df_3["education"].between(1, 9), df_3["education"].between(10, 21)],
            [0, 1],
            default=np.nan
        )
    )
    .dropna(subset=["college_y"])
    .assign(college_y=lambda d: d["college_y"].astype(int))
)
df_3_recoded

     education  college_y
0         18.0          1
1         18.0          1
2         18.0          1
3          8.0          0
4          6.0          0
..         ...        ...
863        3.0          0
864        8.0          0
865        3.0          0
866        8.0          0
867        4.0          0

[868 rows x 2 columns]

### Ans
計算次數分布

In [21]:
with pd.option_context("display.max_rows", None,
                       "display.max_colwidth", 200):
    display(df_3_recoded['college_y'].value_counts().sort_index())

college_y
0    442
1    426
Name: count, dtype: int64

## Q4. 
將「家庭收入」重新編碼成新變項「收入等級」（變項名 f_income_3gp） 。 「無收入」到未滿 6 萬元編
成 1（數值標籤設成「低」）；6 萬元以上到未滿 10 萬元編成 2（「中」）；10 萬元以上編成 3（「高」）。
然後列出新變項「收入等級」的次數分布。

In [23]:
df_4 = df[['b3']].copy().rename(columns = { 'b3': 'family_income' })

依照題目進行編碼

In [28]:
df_4_recoded = df_4.assign(
    f_income_3gp_num=np.select(
        [df_4.family_income.between(0, 3), df_4.family_income.between(4, 5), df_4.family_income.between(6, 11)],
        [0, 1, 2],
        default=np.nan
    )
).dropna(subset=["f_income_3gp_num"])

df_4_recoded["f_income_3gp_num"] = df_4_recoded["f_income_3gp_num"].astype("Int64")
df_4_recoded["f_income_3gp"] = df_4_recoded["f_income_3gp_num"].map({0: "低", 1: "中", 2: "高"})
df_4_recoded

     family_income  f_income_3gp_num f_income_3gp
0              4.0                 1            中
1              3.0                 0            低
2              4.0                 1            中
3              2.0                 0            低
4              2.0                 0            低
..             ...               ...          ...
863           11.0                 2            高
864           11.0                 2            高
865            0.0                 0            低
866            3.0                 0            低
867           11.0                 2            高

[857 rows x 3 columns]

### Ans
計算次數分布

In [29]:
with pd.option_context("display.max_rows", None,
                       "display.max_colwidth", 200):
    display(df_4_recoded['f_income_3gp'].value_counts().sort_index())

f_income_3gp
中    267
低    311
高    279
Name: count, dtype: int64

## Q5. 
按下列步驟，創造「政治自由態度」變項。  
（1）將「拒答、漏答、不適用」等回應設成遺漏值；  
（2）檢查 g4a 到 g4i 這 9 個變項分布，如有其他不合理值，也設成遺漏值；  
（3）將 g4a、g4c、g4e、g4f、g4h 做反向編碼（將 1 改成 4，2 改成 3，依此類推） ；  
（4）將反向編碼後的 5 個變項，和其他 4 個變項的得分加總，將總分變項設成：G4_all，並加上標籤「政治自由態度」。    
（5）計算並報告「政治自由態度」變項的平均數和標準差。

## Q6. 
以「單一樣本 T 檢定」檢視受訪者的「政治自由態度」平均分數是否為 24。

## Q7.
以「獨立樣本 T 檢定」比較「男性」和「女性」的「政治自由態度」平均數是否有顯著差異。

## Q8. 
以「獨立樣本 T 檢定」比較「大專以下」和「大專以上」學歷者的「政治自由態度」平均數是否有顯著差異。

## Q9. 
以變異數分析方法（包括整體檢定與事後比較），檢視不同「收入等級」者的「政治自由態度」平均分數是否有顯著差異。

## Q10.
以「年齡」作為共變量，再次檢視不同「收入等級」者的「政治自由態度」平均分數是否有顯著差異。